body {
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-container {
    width: 60%;
    margin: 20px;
    padding: 15px 30px;
    background-color: rgb(243, 243, 243);
    border-radius: 14px;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: 600;
}

.index {
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    color: rgb(20, 177, 14);
}

.loading {
    padding: 20px;
}
